# Chapter 2

## Exercise 1

1. We’ve seen that n = 42 is legal. What about 42 = n?

In [12]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

That is not legal.

2. How about x = y = 1?

In [13]:
x = y = 1
print(x)
print(y)

1
1

Both x and y are assigned the value 1.

3. In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

In [14]:
a = "hello";
b = 123;
print(a);
print(b)

hello
123

I don't think adding a semicolon at the end of a Python statement has much of an impact.

4. What if you put a period at the end of a statement?

In [15]:
a = "hello".
b = 123.
print(a).
print(b)

SyntaxError: invalid syntax (1035114608.py, line 1)

This will obviously cause an error; Python will recognize the presence of a dot (.).

5. In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [16]:
x = 5
y = 2
print(x y)
print(x * y)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3618134794.py, line 3)

In [17]:
i = xy
print(i)

NameError: name 'xy' is not defined

Clearly, x multiplied by y cannot be expressed in the form of x y.

## Exercise 2

1. The volume of a sphere with radius r is 4/3 π $r^3$. What is the volume of a sphere with radius 5?

In [20]:
import math
r = 5
v = 4/3 * math.pi * r**3
print(v)

523.5987755982989

2. Suppose the cover price of a book is $$24.95 , but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
cost_price = 24.95
discount = 0.4
ship_cost = 3
counts = 60
ship_add = 0.75