# Chapter 2

## Exercise 1

1. We’ve seen that n = 42 is legal. What about 42 = n?

In [12]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

That is not legal.

2. How about x = y = 1?

In [13]:
x = y = 1
print(x)
print(y)

1
1

Both x and y are assigned the value 1.

3. In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

In [14]:
a = "hello";
b = 123;
print(a);
print(b)

hello
123

I don't think adding a semicolon at the end of a Python statement has much of an impact.

4. What if you put a period at the end of a statement?

In [15]:
a = "hello".
b = 123.
print(a).
print(b)

SyntaxError: invalid syntax (1035114608.py, line 1)

This will obviously cause an error; Python will recognize the presence of a dot (.).

5. In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [16]:
x = 5
y = 2
print(x y)
print(x * y)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3618134794.py, line 3)

In [3]:
i = xy
print(i)

NameError: name 'xy' is not defined

Clearly, x multiplied by y cannot be expressed in the form of x y.

## Exercise 2

1. The volume of a sphere with radius r is 4/3 π $r^3$. What is the volume of a sphere with radius 5?

In [6]:
import math
r = 5
v = 4/3 * math.pi * r**3
print(v)

523.5987755982989

2. Suppose the cover price of a book is $24.95 , but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [8]:
cost_price = 24.95
discount = 0.4
ship_cost = 3
copies = 60
ship_add = 0.75

book_price = cost_price * (1-discount) * copies
shipping_cost = ship_cost + (copies - 1) * ship_add
total_cost = book_price + shipping_cost

print(total_cost)

945.4499999999999

3. If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [9]:
from datetime import datetime, timedelta

start_time = datetime.strptime("06:52", "%H:%M")
easy_pace = timedelta(minutes=8, seconds=15)
tempo_pace = timedelta(minutes=7, seconds=12)\

total_time = easy_pace * 2 + tempo_pace * 3

finish_time = start_time + total_time

finish_time.strftime("%H:%M:%S")

'07:30:06'

# Chapter 8

## Exercise 1

Read the documentation of the string methods at http://docs.python.org/3/library/stdtypes.html#string-methods. You might want to experiment with some of them to make sure you understand how they work. strip and replace are particularly useful.

The documentation uses a syntax that might be confusing. For example, in find(sub[, start[, end]]), the brackets indicate optional arguments. So sub is required, but start is optional, and if you include start, then end is optional.

In [10]:
text = "   Hello, world!   "

text.strip()

'Hello, world!'

In [12]:
sentence = "I like apples"

sentence.replace("apples", "bananas")

'I like bananas'

In [13]:
sentence.replace("a", "A", 1)

'I like Apples'

## Exercise 2

There is a string method called count that is similar to the function in Section 8.7. Read the documentation of this method and write an invocation that counts the number of a’s in 'banana'.

In [15]:
s = "banana"
s.count("a")

3

## Exercise 3

A string slice can take a third index that specifies the “step size”; that is, the number of spaces between successive characters. A step size of 2 means every other character; 3 means every third, etc.

In [27]:
fruit = 'banana'
fruit[0:5:2]

'bnn'

A step size of -1 goes through the word backwards, so the slice [::-1] generates a reversed string.

Use this idiom to write a one-line version of is_palindrome from Exercise 3.

In [18]:
def is_palindrome(s):
    return s == s[::-1]

In [ ]:
print(is_palindrome("level"))
print(is_palindrome("reader"))

True
False

## Exercise 4

The following functions are all intended to check whether a string contains any lowercase letters, but at least some of them are wrong. For each function, describe what the function actually does (assuming that the parameter is a string).

In [ ]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False

Only check if the first character is lowercase.

In [ ]:
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'

Always returns "True"

In [ ]:
def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag

Only check if the last character is lowercase.

In [ ]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

Used to check if a string contains at least one lowercase character.

In [ ]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

Used to check if all characters are lowercase.

## Exercise 5

A Caesar cypher is a weak form of encryption that involves “rotating” each letter by a fixed number of places. To rotate a letter means to shift it through the alphabet, wrapping around to the beginning if necessary, so ’A’ rotated by 3 is ’D’ and ’Z’ rotated by 1 is ’A’.

To rotate a word, rotate each letter by the same amount. For example, “cheer” rotated by 7 is “jolly” and “melon” rotated by -10 is “cubed”. In the movie 2001: A Space Odyssey, the ship computer is called HAL, which is IBM rotated by -1.

Write a function called rotate_word that takes a string and an integer as parameters, and returns a new string that contains the letters from the original string rotated by the given amount.

You might want to use the built-in function ord, which converts a character to a numeric code, and chr, which converts numeric codes to characters. Letters of the alphabet are encoded in alphabetical order, so for example:

In [28]:
ord('c') - ord('a')

2

Because 'c' is the two-eth letter of the alphabet. But beware: the numeric codes for upper case letters are different.

In [1]:
def rotate_word(word, shift):
    result = ""
    
    for c in word:
        if c.islower():
            start = ord('a')
            rotated = (ord(c) - start + shift) % 26 + start
            result += chr(rotated)
        elif c.isupper():
            start = ord('A')
            rotated = (ord(c) - start + shift) % 26 + start
            result += chr(rotated)
        else:
            result += c  # non-letter characters unchanged
            
    return result

In [2]:
rotate_word("cheer", 7)

'jolly'

In [3]:
rotate_word("melon", -10)

'cubed'

In [4]:
rotate_word("IBM", -1)

'HAL'